
<!DOCTYPE html> <!-- Declaração do tipo de documento HTML -->

<html lang="pt-br"> <!-- A tag <html lang="pt-br"> é usada para definir o idioma principal da página HTML.  -->

<head><!-- A tag <head>contém informações sobre o documento, como metadados, links para folhas de
         estilo, scripts, títulos da página e outros elementos que não são diretamente visíveis na
          exibição do navegador. -->


    <link rel="icon" href="img/img1.png">
    <!-- A tag <link> com o atributo rel="icon" é usada para definir o ícone da página -->
    <title>html 5</title> <!-- A tag <title> é usada para definir o título da página HTML. -->
    <meta charset="UTF-8">
    <!-- A tag <meta charset=""> é usada para definir a codificação de caracteres (character set) da página HTML.  -->
</head>

<body bgcolor="#f5f5f5"> <!-- A tag <body> é usada para definir o conteúdo principal da página HTML, o atributo bgcolor
    era usado no passado para definir a cor de fundo do corpo da página -->

    <!-- Parágrafo com formatação -->
    <p><!--A tag <p> é usada para definir um parágrafo de texto em HTML. -->

        <font size="7" color="#333" face="calibri"><b>hello world</b></font>
        <!-- A tag <font> é usada para definir a formatação de fonte dentro de um bloco de texto.
                                                                                  o atributo size é usado para definir o tamanho do texto
                                                                                  o atributo color é usado para definir a cor do texto,
                                                                                  e o atributo face é usado para definir a fonte do texto.
                                                                                  A tag <b> é usada para aplicar ênfase em um texto, fazendo com que o texto seja exibido em negrito. -->

                                                                                        <!--<center> A tag <center> era usada para centralizar o conteúdo dentro dela horizontalmente na página. -->
        <i>Goiano</i>
        <!--A tag <i> é usada para aplicar ênfase em um texto, fazendo com que o texto seja exibido em itálico.
    </center>-->
    </p>





    <u>urutaí</u> <!--A tag <u> é usada para aplicar ênfase em um texto, aplicando sublinhado ao texto -->


    <br> <!-- A tag <br> é usada para criar uma quebra de linha dentro do conteúdo de texto. -->


    2<sub>2</sub>
    <!-- A tag <sub> é usada para criar texto subscrito, ou seja, texto que é exibido ligeiramente abaixo da linha de base normal.-->
    <br>

    2<sup>2</sup>
    <!-- A tag <sup> é usada para criar texto sobrescrito, ou seja, texto que é exibido ligeiramente acima da linha de base normal. -->

    <!-- Títulos de diferentes tamanhos -->
    <!--As tags <h1>, <h2>, <h3>, <h4>, <h5> e <h6> são usadas para criar títulos ou cabeçalhos em uma página HTML. Os títulos são
     usados para estruturar e organizar o conteúdo da página, destacando seções importantes e hierarquicamente organizando o texto.-->

    <h1>h 1</h1> <!-- Título de nível 1 -->
    <h2>h 2</h2> <!-- Título de nível 2 -->
    <h3>h 3</h3> <!-- Título de nível 3 -->
    <h4>h 4</h4> <!-- Título de nível 4 -->
    <h5>h 5</h5> <!-- Título de nível 5 -->

    <!-- Link para outra página -->
    <a href="pagina.html">pagina</a> <!-- A tag <a> é usada para criar links ou âncoras em uma página HTML,
                                     o atributo href é usado na tag <a> para especificar o destino do link.  -->

    <img src="img/img1.png" align="center" alt="a historia do html"> <!--
    - A tag <img> é usada para inserir imagens em uma página HTML.

    -  O atributo src é usado na tag <img> para especificar o caminho (URL)
         do arquivo de imagem que será exibido na página.

    - O atributo align costumava ser usado para alinhar componentes

    - O atributo alt na tag <img> é usado para fornecer uma descrição alternativa da imagem. -->

    <!-- Parágrafos com diferentes alinhamentos usando atributo align -->
    <p align="justify"> <!-- Parágrafo alinhado justificado -->
        Em 1995, a especificação do HTML foi atualizada para o HTML 2.0, que incluía suporte a tabelas, formulários e
        framesets (permitindo que diferentes páginas da web fossem exibidas dentro de uma única janela). Nesse mesmo
        ano, foi lançado o navegador Mosaic, que se tornou popular entre os usuários da web.
    </p>
    <p align="center"> <!-- Parágrafo alinhado ao centro -->
        Em 1997, o HTML 3.0 foi lançado, trazendo suporte para folhas de estilo (CSS) e elementos multimídia, como
        vídeo e som. No mesmo ano, a Netscape lançou o navegador Netscape Navigator, que se tornou o navegador mais
        popular da época.
    </p>
    <p align="right"> <!-- Parágrafo alinhado à direita -->
        Em 1999, foi lançado o HTML 4.0, que incluía novos recursos como tabelas avançadas, frames e suporte para
        scripts do lado do cliente (JavaScript). O HTML 4.0 também incluía a especificação de documentos XHTML
        (Extensible Hypertext Markup Language), que combinava o HTML com o XML.
    </p>
    <p align="justify"> <!-- Parágrafo alinhado justificado -->
        Em 2000, o W3C (World Wide Web Consortium) lançou o HTML 4.01, que era uma atualização menor do HTML 4.0,
        corrigindo alguns erros e inconsistências.
    </p>
    <p align="center"> <!-- Parágrafo alinhado ao centro -->
        Em 2004, o desenvolvimento do HTML foi retomado com a criação do grupo de trabalho HTML da W3C. Esse grupo de
        trabalho trabalhou no desenvolvimento do HTML5, que foi lançado em 2014. O HTML5 incluiu muitos novos recursos,
        como elementos semânticos (como &lt;article&gt; e &lt;section&gt;), suporte para vídeo e áudio, geolocalização e
        capacidade de armazenamento local.
    </p>
</body>

</html>
